.action {
	padding: var(--largeSpace) 0;
}

.action-image-div {
	height: 400px;
	padding-right: var(--standardSpace);
}

.action-image {
	width: 100%;
	height: 400px;
	object-fit: cover;
	border-radius: var(--radiusLarge);
}

.action-details {
	box-sizing: border-box;
	height: 400px;
	padding: var(--mediumSpace);
}

.action .title-large {
	color: var(--accentColor);
}

@media (max-width: 1080px) {
	.action .col-1-2-right {
	  float: none;
	  width: auto;
	}
	
  .action-image {
		border-radius: 0;
	}

	.action-image-div {
		padding-right: 0;
	}

	.action-details {
		height: inherit;
		padding-bottom: 0;
	}

  .services-text {
  	height: inherit;
  	padding: var(--standardSpace);
  }
}
